* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121212;
    overflow: hidden;
    font-family: "Work Sans", sans-serif;
    color: white;
    justify-content: center;
    display: flex;
    place-items: center;
    height: 100vh;
}

.frame {
    border: 1px solid white;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.pantalla {
    border: 1px solid white;
    display: flex;
}

.resultado {
    border: 1px solid white;
    width: 400px;
}

.result {
    margin: 13px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-right: 13px;
}

.inp {
    background: #121212;
    border: 0;
    text-align: right;
    font-size: 1.2em;
    outline: none;
    color: white;
}

.generate {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: right;
}