* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121212;
    overflow: hidden;
    font-family: "Work Sans", sans-serif;
    color: white;
    justify-content: center;
    display: grid;
    place-items: center;
    height: 100vh;
}

.frame {
    border: 1px solid white;
    width: 100px;
    height: 100px;
}

.min {
    border: 1px solid white;
    width: 10px;
    height: 10px;
}

.max {
    border: 1px solid white;
    width: 10px;
    height: 10px;
}

.pantalla {
    border: 1px solid white;
    width: 10px;
    height: 10px;
}

.generate {
    border: 1px solid white;
    width: 10px;
    height: 10px;
}